@model UpdateBrandDto
@{
    ViewData["Title"] = "UpdateBrand";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="page-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Araç Markası Güncelleme Sayfası</h4>
                        <p class="card-subtitle mb-4">Marka ile ilgili değişikliği aşağıdaki kutucuğa girebilirsiniz. Veri girişinden sonra güncelle butonuna tıklayarak işlemi tamamlayabilirsiniz.</p>
                        <form method="post">
                            <input type="hidden" asp-for="brandID" />
                            <div class="form-group">
                                <label for="exampleInputName">Marka Adı</label>
                                <input type="text" class="form-control" id="exampleInputName" asp-for="name" placeholder="Marka adı giriniz.">
                            </div>
                            <button type="submit" class="btn btn-primary waves-effect waves-light">Markayı Güncelle</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>